/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


/* General styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
}

html {
    scroll-behavior: smooth;
    background-color: #1D1E20;
    color: #63C96B;
}

h1, h2, h3 {
    font-family: "Roboto";
}

ul {
    text-align: left;
}


/* Sections */

section {
    padding-top: 4vh;
    height: 64vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-text {
    align-self: center;
    text-align: center;
}


/* Introduction */

#introduction {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.photo {
    display: flex;
    height: 425px;
    width: 425px;
    margin: auto 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/* Skills */

#skills {
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill-icon {
    height: 8rem;
    margin: 2rem;
}


/* Experience */

#experience {
    text-align: center;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.experience-article {
    width: 24rem;
}


/* Video */

.video-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%;
    margin: auto;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* Projects */

#projects {
    text-align: center;
    position: relative;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 17.25rem;
    margin: 0.5rem;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
}


/* Icons */

.icon {
    cursor: pointer;
    height: 4rem;
    border-radius: 2rem;
}


/* Button */

.resources {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    font-weight: 600;
    transition: all 250ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: #63C96B .1rem solid;
    background-color: #1D1E20;
    color: #63C96B;
}

button:hover {
    cursor: pointer;
}


/* Articles */

.article {
    padding: 1.5rem;
    border-radius: 2rem;
    border: #63C96B .1rem solid;
    text-align: center;
}


/* Navigation */

a {
    transition: all 250ms ease;
}

nav, .navigation-buttons {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.navigation-buttons {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #63C96B;
    text-decoration: none;
}

a:hover {
    color: #9acd9e;
    text-decoration: underline;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}
