/* Font imprt */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


/* General styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
}

html {
    scroll-behavior: smooth;
    background-color: #243325;
    color: #63C96B;
}

h1, h2, h3 {
    font-family: "Roboto";
}


/* Sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section-text {
    align-self: center;
    text-align: center;
}


/* Introduction */

#introduction {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.photo {
    display: flex;
    height: 425px;
    width: 425;
    margin: auto 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/* Experience */

#experience {
    text-align: center;
}

.experience-details-container {
    justify-content: center;
    flex-direction: column;
}

.experience-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Projects */

#projects {
    position: relative;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}


/* Icons */

.icon {
    cursor: pointer;
    height: 4rem;
}


/* Button */

.resources {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    font-weight: 600;
    transition: all 250ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: #63C96B .1rem solid;
    background-color: #243325;
    color: #63C96B;
}

button:hover {
    cursor: pointer;
}


/* Articles */

.article {
    padding: 1.5rem;
    flex: 1;
    background: #243325;
    border-radius: 2rem;
    border: #63C96B .1rem solid;
    text-align: center;
}




/* Navigation */

a {
    transition: all 250ms ease;
}

nav, .navigation-buttons {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.navigation-buttons {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #63C96B;
    text-decoration: none;
}

a:hover {
    color: #9acd9e;
    text-decoration: underline;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}
